build/
build_*/
build-*/
deps/
compiles/
artifacts/

*.o
*.obj
*.dll
*.so
*.dylib
*.pdb
*.lib
*.exp

.vs/
.vscode/
.cache/
CMakeSettings.json
compile_commands.json
.DS_Store

# python sim caches
sims/__pycache__/
*.pyc

# OBS log files
[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9] [0-9][0-9]-[0-9][0-9]-[0-9][0-9].txt
